<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All statuses
    </h1>

    <a href="/statuses/new" class="btn btn-block btn-outline-secondary">
      Add a new status
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @statuses.each do |status| %>
      <tr>
        <!-- Display status.id start -->
        <td>
          <%= status.id %>
        </td>
        <!-- Display status.id end -->

        <!-- Display status.name start -->
        <td>
          <%= status.name %>
        </td>
        <!-- Display status.name end -->

        <!-- Display status.user_id start -->
        <td>
          <% if status.user.present? %>
            <a href="/users/<%= status.user.id %>">
              <%= status.user.email %>
            </a>
          <% end %>
        </td>
        <!-- Display status.user_id end -->

        <!-- Display status.created_at start -->
        <td>
          <%= time_ago_in_words(status.created_at) %> ago
        </td>
        <!-- Display status.created_at end -->

        <!-- Display status.updated_at start -->
        <td>
          <%= time_ago_in_words(status.updated_at) %> ago
        </td>
        <!-- Display status.updated_at end -->

        <td>
          <a href="/statuses/<%= status.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @statuses, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
